

/*.card-title {
  color: white;
}

.card-text {
  color: white;
}*/

body {
	background-color: #D3D3D3;
}

/*.col-md-4 {
  display: inline-block;
}*/


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    height: 100%;
}