<h2>{{BoardShowController.oneBoard.title}}</h2>
<h3>{{BoardShowController.oneBoard.description}}</h3>

<h4>All the movies in your sweet board here</h4>

<!-- <form ng-submit="boardController.newBoard()">
  <label for="name">Title:</label>
  <input ng-model="boardController.createdBoard.title">

  <label for="photoUrl">Photo URL:</label>
  <input ng-model="boardController.newBoard.photoUrl">

  <label for="nationality">Description:</label>
  <input ng-model="boardController.createdBoard.description">

  <input type="submit" value="Create">
</form> -->